*.o
*~
*.csv
*.png
*.out
*.s
*.S
*.odump
__pycache__

/build

/*.a
/.output
/#README.md#
/interpose.so
/interpose.sh

/scheduling
/test_correctness
/test_init
/test_interpose
/buckets

/include/litl/topology.h
