*.o
*.gch
a.out
check.in
check.out
gmon.out
*.log
*.vlog
words.tsv
casket*
*.kch
*.kct
*.kcd
*.kcf
*.wal
*.tmpkc*
*.kcss
*~
hoge
moge
tako
ika
*.tmp
*.a

libkyotocabinet.so
libkyotocabinet.so.*

kccachetest
kcdirmgr
kcdirtest
kcforestmgr
kcforesttest
kcgrasstest
kchashmgr
kchashtest
kclangctest
kcpolymgr
kcpolytest
kcprototest
kchashtest
kctreemgr
kcstashtest
kctreetest
kcutilmgr
kcutiltest
